<h1>Gamelist</h1>
<hr>
<div class="list-group">
  <table class= "table table-hover">
  	<tr>
  		<th>Remove?</th>
      <th>Password</th>
      <th>Edit Game</th>
      <th>Restart Game</th>
  	</tr>
  	<tr ng-repeat="Game in Games">
  		<form>
  		<td class="col-md-1"><i class="glyphicon glyphicon-remove"
        	ng-click="removeGame(Game,credentials.id)"></i></td>
      <td class="col-md-6"><input type="text" id="id"
         ng-model="credentials.id"></td>
      <!--TODO: get this to link to game manager with password added -->
      <td class="col-md-2"><button ng-click="manage(credentials.id)">{{Game.id}}</button></td>
      <td class="col-md-3"><button ng-click="restart(credentials.id)">{{Game.id}}</button></td>
      
      <form>
    </tr>
  </table>
</div>
<hr>