<h1>New Dom4 Game</h1>
<hr>

<form name="loadForm" ng-model="newGame" ng-submit="loadGame(newGame)">
  <div class="form-group">
    <input type="text" class="form-control focus" name="gameid"
    placeholder="Load Game?" autocomplete="off" required ng-model="newGame.id">
    <input type="text" class="form-control focus" name="password"
    placeholder="Password" autocomplete="off"  ng-model="newGame.password">
  </div>
  <button class="btn btn-default">Load Game</button>
</form>

<form name="gameForm" novalidate ng-model="newGame" ng-submit="addGame(newGame)">
  <div class="form-group"
      ng-class="{'has-error': gameForm.name.$invalid
        && gameForm.name.$dirty}">
    {{newGame}}
    {{Game}}
    <table class="table table-hover">
    <tr><td>Game Name</td><td>
    <input type="text" class="form-control focus" name="id"
        placeholder="*Game Name" autocomplete="off" required
        ng-model="newGame.id">
    </td></tr></tr>
    <tr><td>Port</td><td>
    <input type="text" class="form-control focus" name="port"
      placeholder="*Choose an unused port (8000-9000)" autocomplete="off" required
      ng-model="newGame.port">
    </td></tr>
    <tr><td>Password</td><td>
    <input type="text" class="form-control focus" name="password"
      placeholder="*Game Server password" autocomplete="off" required
      ng-model="newGame.password">
    </td></tr>
    <tr><td>Master Password</td><td>
    <input type="text" class="form-control focus" name="masterPassword"
      placeholder="*Master Password for players" autocomplete="off" required
      ng-model="newGame.masterPassword">
    </td></tr>
    <tr><td>Era</td><td>
    <input type="text" class="form-control focus" name="era"
      placeholder="*Era (1-3)" autocomplete="off" required
      ng-model="newGame.era">
    </td></tr>
    <tr><td>Map</td><td>
    <input type="text" class="form-control focus" name="map"
      placeholder="*Mapfile name (upload from main page)" autocomplete="off" required
      ng-model="newGame.map">
    </td></tr>
    <tr><td>Mods</td><td>
    <input type="text" class="form-control focus" name="mods"
      placeholder="CSV list of mods (upload from main page)" autocomplete="off" 
      ng-model="newGame.mods">
    </td></tr>
    <tr><td>Block Client Start</td><td>
    <input type="text" class="form-control focus" name="noClientStart"
      placeholder="Block starting the game? (true=upload only, false=can start game)" autocomplete="off" 
      ng-model="newGame.noClientStart">
    </td></tr>
    <tr><td>Hours</td><td>
    <input type="text" class="form-control focus" name="hours"
      placeholder="Hours in between turns (0-24)" autocomplete="off" 
      ng-model="newGame.hours">
    </td></tr>
    <tr><td>Minutes</td><td>
    <input type="text" class="form-control focus" name="minutes"
      placeholder="Minutes in between turns (0-60)" autocomplete="off" 
      ng-model="newGame.minutes">
    </td></tr>
    <tr><td>Thrones</td><td>
    <input type="text" class="form-control focus" name="thrones"
      placeholder="Thrones X Y Z (Number of Thrones level 1/2/3)" autocomplete="off" 
      ng-model="newGame.thrones">
    </td></tr>
    <tr><td>Event Rarity</td><td>
    <input type="text" class="form-control focus" name="eventRarity"
      placeholder="Event Rarity (1=common 2=rare" autocomplete="off" 
      ng-model="newGame.eventRarity">
    </td></tr>
    <tr><td>Magic Sites Rarity</td><td>
    <input type="text" class="form-control focus" name="magicSites"
      placeholder="Magic Site Frequency (0-75)" autocomplete="off" 
      ng-model="newGame.magicSites">
    </td></tr>
    <tr><td>Score Dump Status</td><td>
    <input type="text" class="form-control focus" name="scoreDumpStatus"
      placeholder="Score Dump Status Publicly Available(true/false)" autocomplete="off" 
      ng-model="newGame.scoreDumpStatus">
    </td></tr>
    <tr><td>Stat File Status</td><td>
    <input type="text" class="form-control focus" name="statFileStatus"
      placeholder="Stat File Status Publicly Available(true/false)" autocomplete="off" 
      ng-model="newGame.statFileStatus">
    </td></tr>
    <tr><td>Team Game?</td><td>
    <input type="text" class="form-control focus" name="teamGame"
      placeholder="Is this a team game? (true/false)" autocomplete="off" 
      ng-model="newGame.teamGame">
    </td></tr>
    <tr><td>Teams</td><td>
    <input type="text" class="form-control focus" name="teams"
      placeholder="CSV list of team parameters (X Y Z, ...) (X=nationid, Y=teamid, Z=type (0=def, 1=pretender, 2=disciple)" autocomplete="off" 
      ng-model="newGame.teams">
    </td></tr>
    <tr><td>Hall of Fame Size</td><td>
    <input type="text" class="form-control focus" name="hofSize"
      placeholder="Hall of Fame Size" autocomplete="off" 
      ng-model="newGame.hofSize">
    </td></tr>
    </table>
    <span class="has-error control-label" ng-show="
        gameForm.name.$invalid && gameForm.name.$dirty">
      Fill out required fields please.
    </span>
  </div>
  <button class="btn btn-default" ng-disabled="gameForm.$invalid">Add Game</button>
</form>
<hr>